#
# ~/.bash_profile
#

[[ -f "$HOME/.bashrc" ]] && . "$HOME/.bashrc"

# PATH
[[ -d "$HOME/bin" ]] && export PATH="$HOME/bin:$PATH"
[[ -d "$HOME/.local/bin" ]] && export PATH="$HOME/.local/bin:$PATH"

# Golang
export GOPATH="$HOME"

# Rust
{{- if eq .osid "darwin" }}
. "$HOME/.cargo/env"
{{- end }}
