#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

{{- if eq .osid "linux-centos" }}
# Source global definitions
if [ -f /etc/bashrc ]; then
  . /etc/bashrc
fi
{{- end }}

# env
export EDITOR={{ .editor | quote }}

# alias
alias la='ls -alh'
alias ll='ls -lh'
{{- if eq .osid "darwin" }}
alias ls='ls -G'
{{- else }}
alias ls='ls --color=auto'
{{- end }}

# history
HISTSIZE=32768
HISTFILESIZE="${HISTSIZE}"
HISTCONTROL='ignoreboth'

# homebrew
{{- if eq .osid "darwin" }}
if [ -d '/opt/homebrew/bin' ]; then
  export PATH="/opt/homebrew/bin:$PATH"
fi

if [ -d '/opt/homebrew/sbin' ]; then
  export PATH="/opt/homebrew/sbin:$PATH"
fi
{{- end }}

# fzf
{{- if or (eq .osid "darwin") (eq .osid "linux-centos") }}
[ -f ~/.fzf.bash ] && source ~/.fzf.bash
{{- else if eq .osid "linux-arch" }}
. /usr/share/fzf/key-bindings.bash
. /usr/share/fzf/completion.bash
{{- end }}

# Rust
{{- if eq .osid "darwin" }}
. "$HOME/.cargo/env"
{{- end }}

# nvm
source /usr/share/nvm/init-nvm.sh

# rbenv
eval "$(rbenv init - bash)"

# Starship
eval "$(starship init bash)"
