#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# env
export EDITOR={{ .editor | quote }}

# fzf
{{- if eq .chezmoi.os "darwin" }}
[ -f ~/.fzf.bash ] && source ~/.fzf.bash
{{- else }}
. /usr/share/fzf/key-bindings.bash
. /usr/share/fzf/completion.bash
{{- end }}

# Rust
{{- if eq .chezmoi.os "darwin" }}
. "$HOME/.cargo/env"
{{- end }}

# Starship
eval "$(starship init bash)"
