/backup/*
/bookmarks
/company-statistics-cache.el
/custom.el
/eln-cache/*
/elpa/*
/eshell/*
/flycheck_*.el
/history
/projectile-bookmarks.eld
/projectile.cache
/projects
/recentf
/smex-items
/tramp
/transient/*
/url/*
/var/prescient-save.el
